div.tweets-pulled-page ul {
  list-style: none;
}

div.tweets-pulled-page div.tweet-authorphoto {
  margin: 8px 10px 12px 0;
  float: left;
}

div.tweets-pulled-page div.tweet-authorphoto img {
  max-height: 48px;
  max-width: 48px;
}

div.tweets-pulled-page a {
  color: blue;
}

div.tweets-pulled-page .tweet-author a {
  font-weight: bold;
}

div.tweets-pulled-page .tweet-footer a {
  color: silver;
}

div.tweets-pulled-page  div.tweet-divider {
  clear: left;
  border-bottom: 1px solid #efefef;
  margin: 5px 0 5px 0;
}

div.tweets-pulled-page span.tweet-intent {
  padding: 0 0 0 5px;
}
